<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="sampleSingleton" class="SampleComponent"/>
    <bean id="secondSampleSingleton" class="SampleComponent"/>
    <bean id="samplePrototype" class="SampleComponent" scope="prototype"/>
    <!--Test lazy init-->
    <bean id="bankingServiceImpl" class="impl.BankingServiceImpl" lazy-init="true"/>

    <bean id="testService" class="TestService" lazy-init="true">
        <constructor-arg value="bankingServiceNoImpl"/>
    </bean>

</beans>